/*
	Author: Mingkit Wong
*/
html{
    background: #FFFFFA; 
}

body{
	height:100%;
	margin:0;
	padding:0;
	text-align:center;

	font-family:"Palatino Linotype","Book Antique", Palantino, serif;
	font-size:12px; 
	color:#b81900;
}

#page-container{
	position:relative;
	margin:0 auto 0 auto;
	overflow:hidden;
	width:80%;
	height: 100%;
	background:#ffffff;
	padding-bottom:50px;
    text-align:left;
}

#header{
	padding:0px;
	margin:0px;
}

#header-bottom-left{
	position:relative;
	float:left;
}

#header-bottom-right{
	position:relative;
	float:right;
}

#header h1{
	margin:0px;
	margin-bottom:-40px;
	padding-left:30px;
	font-size:100px;
	text-align:left;
	font: 100px  'GentiumBasicRegular';

}

#header h2{
	margin-top:15px;
	font:20px 'GentiumBasicRegular';
	text-align:left;
	padding-left:45px;
	padding-top:5px;
}

#navcontainer{
	position:inherit;
	float:right;
	margin:10px 25px 0px 0px;
	padding:0px 10px 0px 0px;
	width:auto;
	height:40px;
	display:table;

}
ul{
	margin:0 auto;
	padding:0px;
}

li{

	text-transform:uppercase;
	padding:0;
	margin:0px 0px 0px 0px;
	font: 14px 'PTSansRegular';
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	white-space:normal;
	overflow:hidden;
	padding-top:10px;
	padding-left:20px;
}

#navcontainer a{
	
	border-color:#b81900;
	padding-top:5px;
}

#navcontainer a.active{
	border-top:2px solid;
	padding-top:5px;
	font-weight:bold;
}

#navcontainer a:hover{
	border-top:2px solid;
	padding-top:5px;
	border-color:#b81900;
}

.search {
	vertical-align: middle;
}
body p{
	font:14px'GentiumBasicRegular';
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	position:relative;
	top:20px;
}

#links{
    float:left;
	position:relative;
}


#footer{
	background:#ffffff;
	position:relative;
	bottom:0;
	margin:0 auto;
	border-top:1px double #b81900;
	padding:0px;
	width:80%;
	height:80px;
}

#footer p{
	position:absolute;
	bottom:0px;
	left:5px;
	margin:0px;
	padding:30px 0px 0px 0px;
	font-size:11px;
}

.insideNav li{
	list-style: none;
}

#copyright{
	float:right;
	position:relative;
	width:210px;
}

#footer-add p{
	float:left;
	position:absolute;
	left:10px;
	padding:13px 0px 0px 0px;
	width:100px;
}

.address{
	position:absolute;
	top:0px;
	font-size:11px;
	padding:0px;
	margin-left:30px;
	
}

#post-container{
	margin-top:10px;
	padding-top:10px;
	position:relative;
	left:13px;
	width:100%;
	border-top:1px solid;
}
.post{
	position:relative;
	float:left;
	width:50%;
	height:460px;
	padding: 0px;
	margin:10px 0px 0px 0px;
	overflow:hidden;
	background-color:rgba(255,255,255,0.05);
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.08);
	-moz-box-shadow:    2px 2px 5px rgba(0, 0, 0, 0.08);
	box-shadow:         2px 2px 5px rgba(0, 0, 0, 0.08);

	display:table;
}
.post h3{
	margin: 0px;
	padding: 0px;
}

.post p{
	top: 0px;

}
a:hover{
	text-decoration:none;
	color:#b81900;
}
a:link{
	text-decoration:none;
	color:#b81900;
}
a:active{
	text-decoration:none;
	color:#b81900;
}
a:visited{
	text-decoration:none;
	color:#b81900;
}

.clear{
	clear:both;
}
#contentInput{
	width:500px;
	height:50px;
}
