body{
	margin:0px;
	padding:0px;
	background-color:#F0F0F0;
	font-family:"Tahoma";
	font-size:12px;
	height:100%;
}

.header{
	width:100%;
	background-color:#B30000;
	height:90px;
}

.navbar{
	width:100%;
	background-color:#800000;
	height:30px;
}

.insideNav{
	padding-top:5px;
	width:650px;
	padding-left:250px;
	margin-left:auto;
	margin-right:auto;
}

.navbar a{
	color:#FFFFFF;
	text-decoration:none;
}

.navbar li{
	float: left;
	padding-right:25px;
	list-style-type: none;
}

.insideHeader{
	padding-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:900px;
}

.logo{
	float:left;
}

.user{
	float:right;
	width:200px;
	text-align:right;
	padding-right:100px;
	color:#FFFFFF;
}

.userText{
	float:left;
	width:120px;
}
input[type=submit], .smallForm a{
	background-color:#b30000;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b30000;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
input[type=submit]:hover, .smallForm a:hover{
	background-color:#800000;
	border:1px solid #800000;
}

.upVoted{
	background-color:#00CC00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #00CC00;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.upVoted:hover{
	background-color:#00A300;
	border:1px solid #00A300;
}

.userText a{
	color:#FFFFFF;
	text-decoration:none;
}

.mainRight a{
	color:#B30000;
	text-decoration:none;
	font-size:12pt;
}

.userImg{
	float:right; 
	padding-left:10px
}


.main{
	background-color:#F0F0F0;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

.sidebar{
	float:left;
	padding:10px;
	width:240px;
	color:#FFFFFF;
	background-color:#222222;
	padding-bottom:20px;
}

.mainRight{
	background-color:#F0F0F0;
	float:right;
	width:630px;
	padding-left:10px;
	padding-bottom:20px;
}

.footer{
	width:100%;
	position:absolute;
	bottom:0px;
	height:auto;
	background-color:#B30000;
}

.sidebar h1{
	color:#FFFFFF;
	font-family:"Century Gothic";
	font-size:25px;
	padding:0px;
	margin:0px;
}

.mainRight h1{
	color:#B30000;
	font-family:"Century Gothic";
	font-size:28px;
	padding:0px;
	margin:0px;
}

.mainRight h2{
	color:#B30000;
	font-family:"Century Gothic";
	font-size:20px;
	padding:0px;
	margin:0px;
}

#loginform form input[type=text], #loginform form input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
 
    /* Size and position */
    margin: 0 auto;
    width:150px;
    padding: 10px 18px 10px 45px;
 
    /* Styles */
    border: none; /* Remove the default border */
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    transition: color 0.3s ease-out;
}

input[type=text], textarea, input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
 
    /* Size and position */
    width: 95%;
    padding: 5px 18px 10px 5px;
 
    /* Styles */
    border: none; /* Remove the default border */
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    transition: color 0.3s ease-out;
}

#idea_desc{
	height:100px;
}

#search{
	width:150px;
	height:20px;
	padding:5px;
}

.idea{
	height:54px;
	margin-bottom:5px;
	width:664px;
}
.ideaVotes{
	width:54px;
	margin-right:10px;
	padding-top:32px;
	text-align:center;
	height:22px;
	float:left;
	background:url(images/thumb.png) no-repeat;
	color:#FFFFFF;
	font-weight:bold;
}
.ideaText{
	width:600px;
	float:right;
}
.smallForm{
	width:600px;
	margin:50px auto;
}
